<div class="store_form">

  <div class="store_form__name">
    店舗名
  </div>
  <%= f.text_field :name, class:"store_form__name__area", maxlength: "40" %>

  <div class="store_form__phone">
    電話番号
  </div>
  <%= f.text_field :phone, class: "store_form__phone__area", maxlength: "11" %>

  <div class="store_form__address">
    住所
  </div>
  <%= f.text_field :address, class "store_form__address__area", maxlength: "100" %>

  <div class="store_form__opentime">
    開店時間
  </div>
  <%= f.select :open_time,{
    i = 0
    12.time do
      "#{i}": i,
      i += 1
    end
  }, {include_blank: "選択してください"}, class: "store_form__opentime__area" %>

</div>
