<div class="priviews">
  <div class="slider">
    <%= image_tag "topmain1.jpg", class: "main_image" %>
    <%= image_tag "topmain1.jpg", class: "main_image" %>
    <%= image_tag "topmain1.jpg", class: "main_image" %>
  </div>
</div>


