<div class="news_show">

  <div class="news_show__title">
    <h3> <span>新着情報</span> </h3>
  </div>

  <div class="news_show__main">
    <div class="news_show__news_title">
      タイトル：<%= @news.title %>
    </div>


    <div class="news_show__content">
      <p>詳細：</p>
      <%= simple_format(@news.content) %>

    </div>

    <% if @news.image.attached? %>
      <div class="news_show__image">
        <p>キャンペーンimage</p>
        <%= image_tag @news.image %>
      </div>
    <% end %>
  </div>

  <%= render "tops/link" %>
</div>




