// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 管理者メニュー画面
.kanri_title{
  text-align: center;
  margin-bottom: 150px;
}
.menu{
  margin-bottom: 300px;

  a{
    color: #21252A;
  }
  a:hover{
    background-color: #21252A;
    text-decoration: none;
    color: white;
  }
}

.kanri_list{
  display: block;
  text-align: center;
  font-size: 30px;
  padding: 30px 0;
  border: 1px solid #21252A;
  width: 60%;
  margin: 0 auto;
  border-radius: 10px;
  transition: .2s;
}

// 商品登録画面
.new_item{
  width: 60%;
  margin: 0 auto;
  margin-bottom: 100px;

  &__title{
    text-align: center;
    margin-bottom: 50px;
  }

  &__form label{
    display: block;
  }

  &name{
    width: 100%;
  }
}
.item_content textarea{
  width: 100%;
}
.conent_count{
  text-align: end;
}
.item_name input, .item_content, .item_price input{
  width: 100%;
  margin-bottom: 30px;
}

.select-box{
  width: 30%;
  margin-bottom: 30px;
}

.item_image{
  margin-bottom: 30px;
}

.item_btn{
  &__submit{
    padding: 10px 20px;
  }
  &__back{
    padding: 10px 20px;
    border: 1px solid #21252A;
    border-radius: 4px;
    margin-left: 10px;
  }
}

// アイテム一覧画面(管理側)
.item_list{
  .table{
    margin-bottom: 100px;
  }
  img{
    width: 50px;
    height: 50px;
  }
  td{
    vertical-align: middle;
  }
}

// アイテム詳細画面
.item_show{
  @media screen and(max-width: 1080px) {
    width: 700px;
  }
  @media screen and(min-width: 1080px) {
    width: 1000px;
  }
  margin: 0 auto;
  margin-bottom: 100px;

  &__image{
    margin-top: 50px;
    text-align: center;

    .main_image{
      width: 60%;
      border: 1px solid rgba($color: #000000, $alpha: .3);
    }
    ul{
      width: 60%;
      display: flex;
      justify-content: left;
      margin-top: 10px;
      margin: 0 auto;
      padding-left: 0;
    }
    li{
      list-style: none;
      width: 20%;
      height: auto;
      border: 1px solid rgba($color: #000000, $alpha: .3);
    }
  }
  &__image img{
    width: 100%;
  }
  &__name, &__price, &__content{
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 36px;
  }

  &__price{
    text-align: right;
    font-size: 24px;
    > .sale__item_price{
      text-decoration: line-through;
    }
    > .sale__item_saleprice span{
      font-size: 36px;
    }
  }
  &__content{
    font-size: 24px;
  }

  &__btn{
    width: 100%;
    margin-top: 150px;

    .show_btn{
      display: block;
      width: 100%;
      text-align: center;
      padding: 15px;
      border:1px solid #21252A;
    }

  }
  &__title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  &__btn a{
    color: #21252A;
    text-decoration: none;
    transition: .2s;
  }
  &__btn a:hover{
    color: #fff;
    background-color: #21252A;
    transition: .2s;
  }
}
