// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main_color :#FDF8F5;
$font_color :#21252A;;

// スライダー部分
.slider{
  .main_image1, .main_image2, .main_image3, .main_image4, .main_image5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #fff;
    background-position: center;
    background-repeat:  no-repeat;
  }
  .main_image1{
    background-image: url("/images/topimage2.jpg");
  }
  .main_image2{
    background-image: url("/images/topimage3.jpg");
  }
  .main_image3{
    background-image: url("/images/topimage4.jpg");
  }
  .main_image4{
    background-image: url("/images/topimage6.jpg");
  }
  .main_image5{
    background-image: url("/images/topimage7.jpg");
  }
}


// 新着情報部分
.news_container{
  @media screen and(max-width: 1080px) {
    width: 80%;
  }
  @media screen and(min-width: 1080px) {
    width: 60%;
  }
  margin: 0 auto;
  margin-bottom: 50px;
  font-size: xx-large;
}

.new_title{
  text-align: center;
  padding: 30px 0;
  >h3 >span{
    border-bottom: 1px solid;
  }
}
.news_all{
  margin-bottom: 30px;
}
.news_all_btn{
  text-decoration: none;
  color: $font_color;
  opacity: .5;
  border-bottom: 2px solid $font_color;
  transition: .2s;
}
.news_all_btn:hover{
  opacity: 1;
  border-bottom: none;
  color: $font_color;
  text-decoration: none;
  transition: .2s;
}


// 商品一覧
.item_container{
  @media screen and(max-width: 1080px) {
    width: 80%;
  }
  @media screen and(min-width: 1080px) {
    width: 60%;
  }
  margin: 0 auto;
  background-color: $main_color;
  padding-top: 50px;
  margin-bottom: 150px;
}

.item_image{
  position: relative;
  text-align: center;
}
.top_sub_image{
  opacity: 0.8;
  z-index: 0;
}
.top_main_image{
  position: absolute;
  opacity: 0;
  transition: 0.5s;
  z-index: 1;
}
.top_main_image:hover{
  opacity: 1;
}

.item_name, .item_price, .sale__item_price, .sale__item_saleprice{
  color: $font_color;
}
.item_name:hover, .item_price:hover, .item_price__sale:hover, .item_price__saleprice:hover{
  color: $font_color;
}
.item_card{
  &:hover{
    text-decoration: none;
  }
}

.item_list{
  margin: 0 auto;
}

.item_title{
  text-align: center;
  margin-bottom: 30px;
  >h3 >span{
    border-bottom: 1px solid;
  }
}
.item_body{
  padding-left: 10%;
}
.item_image img{
  @media screen and(max-width: 1080px) {
    width: 30vh;
  }
  @media screen and(min-width: 1080px) {
    width: 240px;
  }
  text-align: center;
  height: auto;
}
.campaignflg{
  text-align: center;
  color: #21252A;
  margin-bottom: 0;
  &:hover{
    color: #21252A;
  }

}
.sale{
  &__item{
    &_price{
    text-decoration: line-through;

    }
    &_saleprice span{
      color: red;
    }
  }
}

// 店舗情報
.store_container{
  @media screen and(max-width: 1080px) {
    width: 80%;
  }
  @media screen and(min-width: 1080px) {
    width: 60%;
  }
  margin: 0 auto;
  > a:hover{
    text-decoration: none;
    color: #21252A;
  }

  &__title{
    text-align: center;
    margin-bottom: 50px;
    >h3 > span{
      border-bottom: 1px solid;
    }
  }

  &__main{
    @media screen and(max-width: 1080px) {
      width: 80%;
      margin: 0 auto;
    }
    @media screen and(min-width: 1080px) {
      display: flex;
    }
    margin-bottom: 100px;
    opacity: .8;
    transition: .2s;
    &:hover{
      opacity: 1;
      transition: .2s;
    }
    &__left{
      @media screen and(max-width: 1080px) {
        width: 100%;
      }
      @media screen and(min-width: 1080px) {
        width: 50%;
      }
      &__image img{
        width: 100%;
      }
    }
    &__right{
      width: 50%;
      display: flex;
      flex-flow: column;
      padding-left: 20px;

      &__name, &__phone, &__address, &__time, &__holiday{
        margin-bottom: 20px;
        color: #21252A;
      }
    }
  }
}

// キャンペーン情報
.campaign{
  width: 60%;
  margin: 0 auto;
  box-sizing: border-box;
  margin-bottom: 100px;

  &__title{
    text-align: center;
    margin-bottom: 100px;

    >h3 > span{
      border-bottom: 1px solid;
    }
  }
}
