// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slick-next {
  right: 10px !important;
  z-index: 100;
}

.slick-prev {
  left: 10px !important;
  z-index: 100;
}
