<div class="sales_edit">
<div class="sales_edit__title">
  <h3><span>売上情報確認</span></h3>
</div>

<div class="sales_edit__search">
  <p class="sales_edit__search__year">
    </p>
  <p class="sales_edit__search__mons"></p>
</div>

</div>
